@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'New Tegomin', serif;
  --color-grey-50: hsl(256, 55%, 96%);

  --color-success-500: green;

  --color-error-100: red;

  --size-1: 0.25rem;

  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'New Tegomin', serif;
}
